:root{
    --dark:#1C1C1C;
    --acent: #F13939;
    --light: #b5b0ca;
    --blue: #22adaa;

    --tr:0.2s:
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color:var(--dark);
    color: #333;
}
.container {
    width: 80%;
    margin: 0 auto;
}
header {
    background-color: #000;
    color: var(--blue);
    padding: 20px 0;
}

header h1 {
    text-align: center;
    font-size: 2em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--blue);
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}
.cart-icon button {
    background-color: var(--blue);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
}
.products {
    padding: 40px 0;
    background-color:var(--dark);
}

.product {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.product p {
    font-size: 1em;
    margin-bottom: 15px;
    color: #777;
}

.price {
    font-size: 1.2em;
    color: #000;
    font-weight: bold;
    margin-bottom: 15px;
}

.buy-btn {
    background-color: var(--blue);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-btn:hover {
    background-color: var(--blue);
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.cart {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #000;
    width: 300px;
    height: 100%;
    box-shadow: -4px 0 8px var(--blue);
    padding: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.cart h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#cart-items {
    list-style: none;
    margin-bottom: 20px;
}

#cart-items li {
    margin-bottom: 10px;
}
button {
    background-color:var(--blue);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--blue);
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}